@charset "UTF-8";

td.click01 figure img{
	opacity: 1;
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  	
}
a.click01:hover img {
  	opacity: .5;
}



a#banner_bg{
  display:inline-block;
  position: relative;
}
a#banner_bg:hover:after,
a#banner_bg:hover > p.hover_text
{
  display:block;
}
a#banner_bg:after, p.hover_text{
  display:none;
}
a#banner_bg:after{
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
 
}

p.hover_text {
  position: absolute;
  top: 250px;
  left: 140px;
  color: #fff;
  z-index: 20;
  font-weight: 600;
  font-size: 40px;
}





.tabmenu .label1 {
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 10%;
    line-height: 20px;
    font-weight: bold;

    border: 2px solid pink;
    border-radius: 3px 3px 0 0;
    color:#5D5D5D;
    border-width:2px 2px 0 2px;
    cursor:pointer;
    font-family: NanumSquareRound;
}

.tabmenu label {
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    width: 10%;
    line-height: 25px;
    font-weight: bold;

    border: 2px solid pink;
    border-radius: 3px 3px 0 0;
    color:#5D5D5D;
    border-width:2px 2px 0 0;
    cursor:pointer;
    font-family: NanumSquareRound;
}
.tabmenu input:nth-of-type(1):checked ~ label:nth-of-type(1) {
    background-color:pink;
    color:#FFFFE4;
}
.tabmenu input:nth-of-type(2):checked ~ label:nth-of-type(2) {
    background-color:pink;
    color:#FFFFE4;
}
.tabmenu input:nth-of-type(3):checked ~ label:nth-of-type(3) {
    background-color:pink;
    color:#FFFFE4;
}
.tabmenu input:nth-of-type(4):checked ~ label:nth-of-type(4) {
    background-color:pink;
    color:#FFFFE4;
}

.tabmenu > * {
    display:none;
}
.tabmenu input:nth-child(1):checked ~ .tab1_content,.tabmenu input:nth-child(2):checked ~ .tab2_content,.tabmenu input:nth-child(3):checked ~ .tab3_content,.tabmenu input:nth-child(4):checked ~ .tab4_content{
    display: block;
}
.tabmenu .tab1_content,
.tabmenu .tab2_content,
.tabmenu .tab3_content,
.tabmenu .tab4_content {
	font-family: NanumSquareRound;
    padding: 32px;
    border: 2px solid pink;
    width: 90%;
    height: 100%;
    color:#5D5D5D;
    background-color:#FFFFE4;
}
.tabmenu label:nth-of-type(1):hover{
    background-color:#ffffff;
}
.tabmenu label:nth-of-type(2):hover{
    background-color:#ffffff;
}
.tabmenu label:nth-of-type(3):hover{
    background-color:#ffffff;
}
.tabmenu label:nth-of-type(4):hover{
    background-color:#ffffff;
}



/* 탭 안 테이블 */

table.tab_table01 {
	border-collapse:collapse; /*표의 테두리와 셀의 테두리 사이의 간격을 제거*/
	width:100%; /*테이블은 px 아닌 % 로 크기 조절*/
}

table th {
    border-top:solid 2px pink;
    background-color:pink;
    font-family: NanumSquareRound;
}

table td.tab_td {
    border-bottom:solid 1px pink;
    text-align:center;
    font-family: NanumSquareRound;
    font-weight: bold;
}

table td.tab_td01 {
	padding-left:40px;
    border-bottom:solid 1px pink;
    text-align:left;
    font-family: NanumSquareRound;
    font-weight: bold;
}
span.title01 {
	font-size: 60px;
	color: #000000;
	font-family: NanumSquareRound;
}
span.title02 {
	font-size: 20px;
	color: #ABABAB;
	font-family: NanumSquareRound;
}


#menu {
    font-size: 40px;
    font-family: NanumSquareRound;
    font-weight: bold;	
}

#count {
    font-size: 20px;
    font-family: NanumSquareRound;
    font-weight: bold;	
}
#content{
	margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    /*background-color:Yellow;  */
    width:85%;

}
 
#leftColumn{
    width:185px;   
    float:left;
    color: #636363;
	font-family: NanumSquareRound;
	font-weight: bold;
}
 
#main{
    padding : 0;   /* 안쪽 여백  */
    margin-bottom: 30px ;/*바같쪽 여백 */
    min-height: 400px; /* 최소 높이(세로크기) 지정, IE6에서 적용안됨. */
    _height: 300px; /* IE전용 :  _(언더스코어)로 시작하는 속성 */
   
    margin-left:220px; /*leftColumn 영역의 width값만큼 여백으로 지정*/
    width:950px;
}


ul{
	margin:0;
	padding:0;
	list-style:none;
}

li{
	padding-bottom:12px;
	font-size: 15px;
	
}
   
.wrapper_login {
    text-align: center;
    margin:auto;
    width: 420px;
    height: 450px;
    border:solid 3px;
    border-radius: 10%;
    background: pink;
}

.wrapper_loginok {
    text-align: center;
    margin:auto;
    width: 900px;
    height: 450px;

}

.wrapper_join {
    text-align: center;
    margin:auto;
    width: 420px;
    height: 600px;
    border:solid 3px;
    border-radius: 10%;
    background: pink;
}

.wrapper_joinok {
    text-align: center;
    margin:auto;
    width: 420px;
    height: 450px;
    border-radius: 10%;
    background: pink;
}

.wrapper_write {
    text-align: center;
    margin:auto;
    width: 900px;
    height: 600px;
    border-radius: 2%;
    background: pink;
}

.wrapper_history {
    margin:auto;
    width: 900px;
    height: 450px;
}

.wrapper_modify {
    text-align: center;
    margin:auto;
    width: 420px;
    height: 700px;
    border:solid 3px;
    border-radius: 10%;
    background: pink;
}

h1 {
    margin-top: 65px;
    font-size: 50px;
    font-family: NanumSquareRound;
    font-weight: bold;	
}

h2 {
    font-size: 22px;
    font-family: NanumSquareRound;
}

input {
    text-align: left;
    width:225px;
    height:30px;
    border: none;
    border-bottom: solid 3px #5D5D5D;
    background: pink;
    font-size: 12px;
}

input::placeholder {
    color: black;
    font-size: 12px;
    font-family: NanumSquareRound;
}


.id {
    padding-top: 19px;
}



.password {
    padding-bottom: 32px;
    padding-top: 22px;
}

#button {
    width: 100px;
    height: 50px;
    border-radius: 10%;
    font-size: 18px;
    font-weight: bold;
    border:solid 2px;
    background: #FFFFE4;
    font-family: NanumSquareRound;
    padding: 5px;
    text-align: center;
}

#history_button {
    width: 100px;
    height: 50px;
    border-radius: 10%;
    font-size: 18px;
    font-weight: bold;
    border:solid 2px;
    background: #FFFFE4;
    font-family: NanumSquareRound;
    padding: 5px;
    text-align: center;
}

/* 캘린더 css 설정 */

input[name='rdayof'] {
    width: 33%;
}
header {
	background-color:#FFFFE4;
	margin-top: 10px;
	margin-bottom: 20px;
    font-family: NanumSquareRound;
    font-weight: bold;
}

footer {
	width: 100%;
	height: 70px; /* 내용물에 따라 알맞는 값 설정 */
	bottom: 0px;
	position: absolute;
	background-color:#FFFFE4;
	
	/*
	width:100%;
	bottom:0;
	background-color:#FFFFE4;
	margin-bottom: 5px;
	*/
}

section {
	padding-bottom: 70px; /* footer의 height값과 동일 */
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

table.mtable {
	margin-bottom: 50px;
}



/* mview */
td.td-type04 { 
	font-size: 13px;
	color: #969696;
	font-family: NanumSquareRound;
	text-align:left;
}


#input01 {
	font-size: 15px;
	font-family: Arial,NanumSquareRound;	
	color: #636363;
	border: 1px solid #c0c0c0;
	background-color: #ffffff;
	width: 220px;
	padding: 5px;
}

#memberinfo {
	font-size: 20px;
	font-weight: bold;	
	font-family: Arial,NanumSquareRound ;	
	color: #969696;
	width: 220px;
	padding: 5px;

}

#button01 {
	font-size: 15px;
	font-family: NanumSquareRound;	
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: #a0a0a0;
	width: 175px;
	height: 40px;
	padding: 5px;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #5D5D5D;
}

#button01:hover {
	background-color: #666666;
}

table.tt1 {
	font-size: 20px;
	font-family: NanumSquareRound;
	color: #5D5D5D;
	font-weight: normal;
	margin-bottom: 20px;
}

table.bye {
	font-size: 20px;
	font-family: NanumSquareRound;
	color: #5D5D5D;
	font-weight: normal;
	margin-bottom: 20px;
}

.tabmenu .label1 {
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 10%;
    line-height: 20px;
    font-weight: bold;

    border: 2px solid pink;
    border-radius: 3px 3px 0 0;
    color:#5D5D5D;
    border-width:2px 2px 0 2px;
    cursor:pointer;
    font-family: NanumSquareRound;
}

.tabmenu label {
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    width: 10%;
    line-height: 25px;
    font-weight: bold;

    border: 2px solid pink;
    border-radius: 3px 3px 0 0;
    color:#5D5D5D;
    border-width:2px 2px 0 0;
    cursor:pointer;
    font-family: NanumSquareRound;
}
.tabmenu input:nth-of-type(1):checked ~ label:nth-of-type(1) {
    background-color:pink;
    color:#FFFFE4;
}
.tabmenu input:nth-of-type(2):checked ~ label:nth-of-type(2) {
    background-color:pink;
    color:#FFFFE4;
}
.tabmenu input:nth-of-type(3):checked ~ label:nth-of-type(3) {
    background-color:pink;
    color:#FFFFE4;
}
.tabmenu input:nth-of-type(4):checked ~ label:nth-of-type(4) {
    background-color:pink;
    color:#FFFFE4;
}

.tabmenu > * {
    display:none;
}
.tabmenu input:nth-child(1):checked ~ .tab1_content,.tabmenu input:nth-child(2):checked ~ .tab2_content,.tabmenu input:nth-child(3):checked ~ .tab3_content,.tabmenu input:nth-child(4):checked ~ .tab4_content{
    display: block;
}
.tabmenu .tab1_content,
.tabmenu .tab2_content,
.tabmenu .tab3_content,
.tabmenu .tab4_content {
	font-family: NanumSquareRound;
    padding: 32px;
    border: 2px solid pink;
    width: 90%;
    height: 100%;
    color:#5D5D5D;
    background-color:#FFFFE4;
}
.tabmenu label:nth-of-type(1):hover{
    background-color:#ffffff;
}
.tabmenu label:nth-of-type(2):hover{
    background-color:#ffffff;
}
.tabmenu label:nth-of-type(3):hover{
    background-color:#ffffff;
}
.tabmenu label:nth-of-type(4):hover{
    background-color:#ffffff;
}



/* 탭 안 테이블 */

table.tab_table01 {
	border-collapse:collapse; /*표의 테두리와 셀의 테두리 사이의 간격을 제거*/
	width:100%; /*테이블은 px 아닌 % 로 크기 조절*/
}

table th {
    border-top:solid 2px pink;
    background-color:pink;
    font-family: NanumSquareRound;
}

table td.tab_td {
    border-bottom:solid 1px pink;
    text-align:center;
    font-family: NanumSquareRound;
    font-weight: bold;
}

table td.tab_td01 {
	padding-left:40px;
    border-bottom:solid 1px pink;
    text-align:left;
    font-family: NanumSquareRound;
    font-weight: bold;
}

table.tt2 {
	font-size: 16px;
	font-family: NanumSquareRound;
	color: #5D5D5D;
	font-weight: normal;
}

table.tt3 {
	font-size: 16px;
	font-family: NanumSquareRound;
	color: #5D5D5D;
	font-weight: normal;
	background-color: #FFFFE4;
}

textarea {
	width:226px;
	height:100px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 2px #5d5d5d;
	border-radius: 2px;
	font-size: 12px;
	font-family: NanumSquareRound;
	resize: none;
}