@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}
div.subheader{
	
	height:50px;
	line-height: 50px; 
	margin:0 auto;
	text-align: center;
}
ul.subheader01{
	width:130px;
	display:none;
	position: absolute;
	font-size:14px;
	background: skyblue;
	display:block;
}
li.subheader02{
	list-style: none;
	float:left;
	width:140px;
	position:relative;
	background: orange;
	transition: ease 1s;
		
}